{% extends "base_tpl.html" %}

{% block titulo %}
Reportes
{% endblock %}


{% block css %}
{{ block.super }}
<link rel="stylesheet" href="/static/js/plugins/ammap/ammap.css" type="text/css">
<link rel="stylesheet" href="/static/css/plugins/chosen/chosen.css" type="text/css">
{% endblock %}


{% block ruta %}
Inicio / Reportes / Geograficos
{% endblock %}

{% block contenedor_principal %}
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Parametros Busqueda</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="font-noraml">Provincias</label>
                            <div class="col-sm-12">
                                <select class="form-control m-b" name="account">
                                    {% for item in provincias %}
                                    <option>{{item.loc_descripcion}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="font-noraml">Sexo</label>
                            <div class="col-sm-12">
                                <select class="form-control m-b" name="account">
                                    {% for item in sexo %}
                                    <option>{{item.cat_descripcion}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="font-noraml">Criterio</label>
                            <div class="col-sm-12">
                                <select class="form-control m-b" name="account">
                                    {% for item in indicadores %}
                                    <option>{{item.cat_descripcion}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                         <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-w-m btn-primary center-block">Generar</button>
                        </div>
                        <div class="col-md-4"></div>

                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Mapa Ecuador</h5>
                </div>
                <div class="ibox-content">
                    <div id="mapdiv" style="background-color:#EEEEEE; height: 500px;"></div>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="/static/js/plugins/ammap/ammap.js" type="text/javascript"></script>
<script src="/static/js/plugins/ammap/maps/js/ecuadorLow.js" type="text/javascript"></script>
<script src="/static/js/plugins/chosen/chosen.jquery.js"></script>
<script src="/static/js/scripts/ecuadorsample.js"></script>


{% endblock %}
